{% extends "base.html" %}


{% block content %}
<div class="container">
{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

    <br>
    <h1>Login</h1>
    <br><br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.username.label(class="form-label") }}

            {{ form.username(class="form-control") }}
            <br>

            {{ form.password.label(class="form-label") }}

            {{ form.password(class="form-control") }}
            <br>

            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>

    <br>
    <br>

    <div class="checkbox mb-3">
       <h6>Vous n'avez pas encore de compte ? </h6>
       <a class="btn btn-sm btn-secondary" href="{{ url_for('add_user') }}">S'inscrire</a>
    </div>

</div>
{% endblock %}