{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

<!-- {% if name %}

    <h1>Update user</h1>
    <br><br><br>
    <table class="table table-hover table-bordered table-striped">
    
        
        {% for our_user in our_users %}
            <tr>
                <td>
                    {{ our_user.id }} - {{ our_user.name }} - {{ our_user.email }}
                </td> 
            </tr>
        {% endfor %}
            
        
    </table>
    <br>
{% else %} -->

{% if id == current_user.id %}
    <h1>Update user</h1>
    <br><br>
    <!-- ID to update: {{ id }} <br>
    current ID: {{ current_user.id }} -->
    <br><br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="/update/{{ name_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}

            {{ form.name(class="form-control", value=name_to_update.name) }}
            <br>

            {{ form.username.label(class="form-label") }}

            {{ form.username(class="form-control", value=name_to_update.username) }}
            <br>

            {{ form.email.label(class="form-label") }}

            {{ form.email(class="form-control", value=name_to_update.email) }}
            <br>


            {{ form.submit(class="btn btn-secondary") }}

            <a href="{{ url_for('delete_user', id=id) }}" class="btn btn-danger">supprimer</a>
        </form>
    </div>

<br><br><br>

{% else %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        You can't edit this user
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <h3>access denied</h3>

{% endif %}



<!-- {% endif %} -->




{% endblock %}